.header{
	background-color: #fff;
	width: 100%;
	top: 0px;
	left:0px;
}
.welcome{
	width:100%;
	min-width:1004px;
	height:36px;
	background-color: #f9fafa;
	/* border:1px solid red; */
	
}
.welcome p{
	width:1004px;
	/* border: 1px solid blue; */
	margin: 0 auto;
	line-height: 36px;
	text-align: left;
	color:#c4c4c5;
	border-bottom: 1px solid #dedede;
}
.link{
	/* border:1px solid red; */
	width:100%;
	min-width:1004px;
	height:60px;
}
.link-box{
	width:1004px;
	/* border:1px solid blue; */
	margin: 0 auto;
	height:57px;
	position: relative;
	overflow: hidden;
}
/* logo */
.link-box .logo{
	/* display:block; */
	height:57px;
	position: absolute;
	/* position: absolute; */
	/* width:365px; */	
}
.link-box .logo a{
	/* display:block; */
	display: block;
	/* border:100px solid blue; */
	height: 57px;
	width: 365px;
	/* position: absolute; */
	/* width:365px; */
}
.link-box .logo a img{
	/* width:100%; */
	height:100%;
}
.link-box ul{
	position:absolute;
	height: 57px;
	line-height: 57px;
	width:548px;
	/* float:right; */
	padding: 0;
	right: -18px;
	/* border: 1px solid red; */
	
}
.link-box ul li{
	height: 57px;
	line-height: 57px;
	float: left;
	display: inline-block;
}
.link-box ul li a{
	line-height: 57px;
	border-right:1px solid #b2b2b2;
	padding: 0 18px;
	color:#999;
	font-weight: 600;
}

/* menu导航区域 */
.menu{
	width: 1004px;
	height: 43px;
	margin: 0 auto;
	overflow:hidden;
	background: url(../img/header.png);
	background-repeat: repeat-x;
	border-top: 3px solid #b30000;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.menu li{
	width: 10%;
	float: left;
	border-left:1px solid red;
	/* list-style: none; */
}

.menu li a{
	display: block;
	font-size:16px;
	line-height: 40px;
	line-width:600;
	text-align: center;
	color:#fff;
	
}
.menu li a:hover{
	background:#9a001d;
}

.active-menu{
	background:#9a001d;
	
}